body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.top{

    width: 100%;
        height: 25px;
    background-color: #FF0000;


}
.header{
    width: 100%;
        height: 106px;

   background: linear-gradient(120deg, #87FCCE 20%, #CEF2F4 40%, #BDF3F6 10%); ;

}
.container{
    width: 1200 px;
    height: auto;
    margin: 0 auto;
}

.logo{


    width: 175px;
    height: 75px;
    float: left;
    text-underline-position: right;
    margin: 0 px;
   text-align: right !important;

}
/* .menu{
    width: 600px;
    height: 700px;
    left: 100px;
    float:left;
} */
.menu ul{
    margin:  0;
    padding: 0;
    left: 100px;
    float:left;
}

.menu ul li{
    float: right;
    list-style-type: none;
    padding-left: 40px;
    line-height: 90px;

}

.menu ul li a{
    text-decoration:none;
    color: black;
    font-size:+2;
    font-family: "Times New Roman", Sans-serif;
    font-weight: bold;
    
    
    transition: all ease 1s;

}

.menu ul li a:hover{
     background: #FF0000;
    color: #ffffff;
    
}

.menu ul li:hover{
    border-bottom: solid 1px white;
}

div.carousel-inner {
    padding-top: 01 px;
    height: 500px ;
    top: 1950 px;
}

.carousel-inner img {
     width: 100%;
     height: 100%;
 }


#article_part{
    padding top: 50px;
    background: linear-gradient(110deg, #87FCCE 20%, #CEF2F4 40%, #BDF3F6 10%);
}

.article_content{
    padding-bottom: 2px;
     border-bottom: 1px solid black;
}
#article_part .article_content h2{
    font-family: 'PI Sans', sans-serif;
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 5px;
}

#article_part .article_content p{
   font-family: 'PI Sans', sans-serif;
    font-size: 18px;
    color: #1B2F58;
}

#bonne{
    padding-top: 30px;
    background: linear-gradient(110deg, #87FCCE 20%, #CEF2F4 40%, #BDF3F6 10%);
    
}

#bonne .bonne_heading h2{
    
    font-family: 'PI Sans',
        sans-serif;
    color: crimson;
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 5px;
    
}
#bonne .slidepic{
    padding-bottom: 25px;
     border-radius: 40px;
    
}

#bonne .bonne_main a{
   
     color: red;
       font-family: 'PI Sans',
        sans-serif;
    font-weight: 80;
    font-size: 18px;
    padding: 10px 30px;
    border: 1px solid #FF0000;
    border-radius: 15px;
    transition: all ease 2s;
    }

#bonne .bonne_main a:hover{
    
    background: #FF0000;
    color: #ffffff;
    
}


#bonne .bonne_main p{
    padding: 20px;
     color: darkslategray;
       font-family: 'PI Sans',
        sans-serif;
    font-weight: 80;
    font-size: 20px;
    align-content: center;
    }
}

    
.footer
{
    height: 50px;
    background-attachment: fixed;
    font ="verdana"; 
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
.col-md-4{
    padding: 20px;
    background: #DBF1EA;
     color: darkslategray;
       font-family: 'PI Sans',
        sans-serif;
    font-weight: 100;
    font-size: 20px;
   border-bottom: 10px solid red;

    
}

.space{
    padding: 2px 0px;

}

